


<head>
    <div class="nav">
    <% if user_signed_in? %>
        <div class="nav_content"><%= link_to "회원정보", edit_user_registration_path, :class => "nav_li" %></div>
        <div class="nav_content"><%= link_to "로그아웃", destroy_user_session_path, method: :delete, :class => "nav_li" %></div>
        <div class="nav_content"><%= link_to "info", '/main/info', :class => "nav_li" %></div>
        
    <% end %>
   
    </div>

</head>
<body>

<div class="header">
  <br>
  <center><img class="logo"></center>
  <img  class="logo-hover-preload" style='display:none;'>
</div>
    

<div class="row">
    
    <div class="col-md-3 block-list" style="padding-left:70px;">
        <h1 style="font-size: 15pt" >
            <b 
        data-balloon="알바를 선택한 후 달력의 날짜를 클릭하여 등록하세요!" 
        data-balloon-length="medium" data-balloon-pos="right"  data-balloon-break>내 알바목록</b>
        </h1>
        <%=link_to '<button class="save_button" >추가</button>'.html_safe, alba_create_path %>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%=link_to '<button class="save_button" >수정</button>'.html_safe, alba_edit_path %>
<br>
<br>
<br>

        <% @albas.each_with_index do |a,i| %>

        
            <% if a.final ==0 %>
                <% @pickedalba_endminute = a.e_minute %>
                
        
                <!-- class='block-alba' -->
                <!-- style='background-color:<%#=a.color%>' -->
              
                <button id="btn_block_<%=a.id %>" class='block-alba type3' style='background-color:<%=a.color %>'
                onclick="pickAlba(<%=a.id%>,
                '<%= a.name %>', 
                '<%= a.color%>',
                '<%= a.s_hour %>',
                '<%= a.s_minute%>',
                '<%= a.e_hour%>',
                '<%= a.e_minute%>')"
                ><%=a.name%><%="(주휴)" if a.holidaybonus?%> <%="(야간)" if a.nightbonus?%><br>
                <%=a.s_hour %>:<%=a.s_minute%>-<%=a.e_hour%>:<%=a.e_minute%>
                </button>
                
            <% end%>
        <% end %>
        <br>
        <br>
        <br>
        <br>
        
        
        <%=render 'index'%>  
            
    </div>
    <!-- 달력 시작 -->
    <div class="col-md-6">
        <br>
        <table class="calendar" id="calendar" border="3" align="center" style="border-color:#e9e9e9 ">
            <tr><!-- label은 마우스로 클릭을 편하게 해줌 -->
                <td class="swift cursor-pointer"  onclick="prevCalendar()">&nbsp;<<&nbsp;</td>
                <td id="tbCalendarYM" colspan="5"> yyyy년 m월</td>
                <td class="swift cursor-pointer" onclick="nextCalendar()">&nbsp;>>&nbsp;</td>
            </tr>
            <tr class="swift">
                <th><font color ="#F79DC2">일</td>
                <th>월</td>
                <th>화</td>
                <th>수</td>
                <th>목</td>
                <th>금</td>
                <th><font color ="skyblue">토</td>
            </tr> 
        </table>
        <br>
        
        <button onClick="save();" class="save_button">Save Changes</button>
        
        
    </div>
     <!-- 달력 끝 -->
     
     
     
      <div class="col-md-3">
        <h1 style="font-size: 15pt"><b>Tip</b></h1>
        
                  
        <p id="sts1" class="bubble"></p><br>
        <p id="sts2" class="bubble"></p><br>
        <p id="sts3" class="bubble"></p><br>
        


        
        <br>
        <br>
        
        <h1 style="font-size: 15pt"><b>통계</b></h1>
        <!--<img src="<%#=image_url('Al_stats.jpeg')%>" class="stats">-->
        <ul class="list-group list-group-flush">
  <!--<li class="list-group-item" style="font-size:11pt;">-->
  <!--    <%#@night_hour=0%##>-->
  <!--    <%##@night_bonus=0%#>-->
  <!--    <%#@holiday_bonus=0%#>-->
  <!--            <%# @albas.each do |a|%#>-->
  <!--          <%# if (a.nightalpha && a.final!=0)%#>-->
  <!--          <%#@night_hour=@night_hour+(2*a.nightalpha)/(3*a.money_hour)%#>-->
  <!--       <#%@night_bonus=@night_bonus+a.nightalpha%>-->
  <!--          <%#end%#>-->
  <!--      <%#end%#>-->
  <!--    이번달에 야간수당으로 번 추가소득 : <%#=@night_bonus/3%#><br>-->
  <!--    이번달에 야간근무한 시간 : <%#=@night_hour%#>시간-->
  <!--</li>-->
  <!--<li class="list-group-item" style="font-size:11pt;">-->
  
  <!--   <%# @albas.each do |a|%#>-->
  <!--          <%# if (a.holidayalpha && a.final!=0)%>-->
                     
  <!--                   <%#@holiday_bonus=@holiday_bonus+a.holidayalpha%>-->
  <!--          <#%end%>-->
  <!--      <#%end%>-->
  <!--이번달에 휴일수당으로 번 추가소득 : <%#=@holiday_bonus/3%><br>-->
  
  <!--</li>-->
   <li class="list-group-item" style="font-size:11pt;">
        <% @albas.each do |a|%>
           <%@fmoney=@fmoney+a.final%>
        <%end%>
       이번달 월급총액:<%=@fmoney%>
       
       
    </li>
</ul>
        
        
      </div>

  
  </div>
  

  <%=render 'jsCalender'%>  
  </body>
  
  


