<!-- 회원가입 페이지 -->
<video id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
      <source src="/assets/backvideo.mp4">

</video>

<div class="row">
  <div class="col-md-3">
    
  </div>
  <center>
  <div class="col-md-6">
    <div class="login_frame">
    <a href="/"><img src="/assets/logo_hs.png" class="logo_main">
    <img  class="logo-hover-preload" style='display:none'></a><br>
    <br>
    
    <h3>비밀번호 찾기</h3>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.label :이메일, :class => "login_label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "login_field" %>
      </div>

    <br>
      <div class="actions">
        <%= f.submit "비밀번호 수정", :class => "button_login" %>
      </div>

    <% end %>
    <br>
    
    <%= render "devise/shared/links" %>
    
  </div>
  </div>
  </center>
  <div class="col-md-3"></div>
</div>













